* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  background-color: white;
}

main {
  display: flex;
}

:root {
  --color-buton: #2d308e;
  --central-color: #f0f0f0;
  --central-senha: #fafafa;
  --forum-color: #2226a8;
  --text-color: #d9d9d9;
  --text-p-h2: #FFFFFF;
  --text-h1: #000000;
  --paragrafo: #004aad;
}

/*----------- class --------------*/

a {

  color: var(--text-p-h2);
  margin-top: 30px;
  margin-left: 25px;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
}

.bi-arrow-left-square-fill {
  font-size: 120%;
}

.forum {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-buton);
  width: 40%;
  height: 100vh;



}
.Elementos_do_form{
  position: relative;
  top: 72px;
}

.IMG_padrao {


  align-items: center;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  height: 25rem;
  width: auto;

}

h2 {

  font-size: 30px;
  text-align: center;
  color: var(--text-p-h2)
}

.span {
  display: block;
  margin-left: 10%;

}

.main_padrao {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--central-senha);
  border: 3px solid var(--forum-color);
  width: 500px;
  height: 600px;
  /*600*/
  margin-top: 50px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-left: 12%;

}

/* ---------------- PRIMEIRA TELA ------------------- */

.btn_primeira_tela {
  display: flex;
  gap: 40px;
  flex-direction: column;

}

h1 {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;

}


.btn_primeiro {
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--color-buton);
  color: var(--text-p-h2);
  padding: 40px 60px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 0.5s;

}

.btn_primeiro:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}

/* ---------------- SEGUNDA TELA ------------------- */


.txt_central_tela02 {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 350px;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 9%;
  background-color: var(--paragrafo);
  border-radius: 15px;

}

.Paragrafo {

  align-items: center;
  flex-direction: column;
  min-height: 10vh;
  color: var(--text-p-h2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 10px;
  text-align: justify;
  border-radius: 15px;
  padding: 20px;
  border: 2px solid var(--central-color);


}

.fablab1 {
  display: flex;
  justify-content: center;
  height: 20%;
  gap: 120px;
  margin-top: 20px;

}

.btn_ajuste_segunda_tela {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn_segunda_tela {
  margin-top: 15%;
  font-size: 20px;
  font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--color-buton);
  color: var(--text-p-h2);
  padding: 30px 60px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn_segunda_tela:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}



/*
.paragrafo_img{
  border: 3px solid var(--central-color);
  background-image: url(../IMG/teste\ 01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  
}
*/

/* ---------------- TECEIRA TELA ------------------- */

.bi-person-badge-fill {
  display: flex;
  font-size: 30px;
  align-items: center;
  color: var(--forum-color);

}

.bi-file-medical-fill {
  display: flex;
  font-size: 30px;
  align-items: center;
  color: var(--forum-color);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*.formulario{
  display: flex;
  align-items: center;
   flex-direction: column;
   margin: 8px;
  gap: 30px;
} */
.form {

  display: flex;
  flex-direction: column;
  width: 260px;
  text-align: left;
  align-items: center;
  margin: 10px;
  padding: 10px 0px 10px 1px;
  border-radius: 10px;
  border: solid var(--forum-color);
  outline: none;
  background-color: var(--text-color);

}

.btn_form {
  font-size: 20px;
  font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--color-buton);
  color: var(--text-p-h2);
  padding: 40px 60px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 0.5s;

}

.btn_form:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}

/* ---------------- Quarta TELA ------------------- */

.btn-operacão {
  display: flex;
  flex-direction: column;

}

span.linha-op {
  font-size: 25px;
  align-items: center;
  width: 210px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 25px;
}



h3.linha-op-op {

  position: relative;
  font-size: 25px;
  align-items: center;
  width: 235px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


.btn-padrao {
  display: flex;
  align-items: center;

}

.deslo-T4-1 {
  position: relative;
  left: 45px;

}

span.deslo-T4 {
  display: inline-block !important;
}


.btn_operacao {
  margin-bottom: 30px;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--color-buton);
  color: var(--text-p-h2);
  padding: 40px 50px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 0.5s;

}

.btn_operacao:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}

/* ---------------- Quinta TELA ------------------- */

.h1_padao {
  align-items: center;
  margin-left: 10px;
}

span.padao {
  display: block;
  margin-left: 40px;
}

.linha {

  background-color: var(--text-color);
  padding: 10px 30px 10px 30px;
  margin-right: 7px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

.btn_horario {
  margin-bottom: 15px;
  margin-left: 20px;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--color-buton);
  color: var(--text-p-h2);
  padding: 25px 30px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 0.5s;

}

.btn_horario:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}

@media(max-width:480px) {
  .forum {
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
    background-color: var(--color-buton);
    height: 25vh;
    width: 100%;
  }

  .IMG_padrao {

    margin-top: 10px;
    padding: 10px 10px 0 10px;
    height: 5rem;

  }

  .main_padrao {
  position: relative;
  display: flex;
  width: 300px;
  height: 400px;
  top: 200px;
  
  
}
h1{
  font-size:22px;
}
h2{
  font-size: 20px;
}
.btn_primeiro {
  font-size: 15px;
  padding: 20px 20px;

}


  .modal-field {
    width: 100%;
  }
}