
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-buton: #2d308e;
    --central-color: #f0f0f0;
    --central-senha: #fafafa;
    --forum-color: #2226a8;
    --text-color: #d9d9d9;
    --text-p-h2: #FFFFFF;
    --text-h1: #000000;
    --paragrafo: #004aad;
}

html, body {
    background-color: var(--central-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    
    padding: 20px 4%;
    background-color: var(--color-buton);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header h1 {
   
    text-align: end;
    font-size: 19px;
    color: var(--text-p-h2);
}
header span{
    display: block;
    margin-right: 45px;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh auto;
   
}
header p {
    display: flex;
    margin-top: 5px;
    color: var(--central-color);
}



.fila-chamada table {
    width: 90%;
    border-collapse: collapse;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    margin-left: 75px;
    box-shadow: 2px 2px 10px;
    table-layout: fixed; 
}

.fila-chamada th,
.fila-chamada td {
    width: 200px;            
    height: 50px;           
    padding: 10px;
    border: 3px solid var(--forum-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fila-chamada th {
    background-color: var(--forum-color);
    color: white;
    font-weight: bold;
}

.fila-chamada tr {
    border: 3px solid var(--color-buton);
}

/* largura específica por coluna: */
.fila-chamada th:nth-child(1),
.fila-chamada td:nth-child(1) {
    width: 300px; /* Nome */
}

.fila-chamada th:nth-child(2),
.fila-chamada td:nth-child(2) {
    width: 200px; /* Composição */
}

.fila-chamada th:nth-child(3),
.fila-chamada td:nth-child(3) {
    width: 180px; /* CPF */
}


.img-fo{

left: 30px;
height: 80px;

    
}