*{
    padding: 0;
    margin: 0;
    
}



.Drop-ddow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    opacity: 0;
    z-index: -1;
    
}
.Drop-ddow.active{
    opacity: 1;
    z-index: 1;
}

.convocacao{
    
    flex-direction: column;
    gap: 20px;
    width:20vw;
    height: 19vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: var( --central-color);
    border: 2px solid  var(--paragrafo);
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

/*.ajuste{
    
    display: flex;
    flex-direction: column;
    align-items: center;
 
} */
.drop{
    display: flex;
    justify-content: space-between;
    width: 250px;
    align-items: center;
    margin-top: 12px;
    gap: 8px;
}
.header{
    color: var(--text-p-h2);
    background-color: var(--paragrafo);
    justify-content: center;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    font-family:  Helvetica, sans-serif;
 
} 

.drop-txt{
 margin-left: 20px;
 background-color: var(--text-color);
 padding: 10px 20vh 10px 5px;
 width: 21px;
 font-size: 20px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;



}

.caixa{
    display: flex;
    cursor: pointer;
    width:40px ;
    height: 40px; 
}

 
.btn_Drop{
    margin-top: 3vh;
    margin-left: 13vh;
    font-size: 15px;
    align-items: center;
    font-weight: bold;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--color-buton);
    color: var(--text-p-h2);
    padding: 15px 20px ;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.btn_Drop:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}